<!DOCTYPE html >
<html> 
  <head> 
    <title>Grade Tracker </title>
    <link rel="stylesheet" href="login.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="main">
      <div class="signup">
        <h1 class="register">
          <center>Create Account </center>
        </h1>
        <input type="email" placeholder="Enter Email" required="required" id="signemail"/>
        <input type="text" placeholder="Enter Username" required="required" id="signusername"/>
        <input type="password" placeholder="Enter Password" required="required" id="signpass"/>
        <input type="password" placeholder="Confirm Password" id="signpassconf"/>
        <button class="continuebtn" type="button" onclick="signup()" disabled="true" id="signup">></button>
        <div class="sep-line"></div>
      </div>
      <div class="login">
        <h1 class="register">
          <center>Sign in </center>
        </h1>
        <input type="email" placeholder="Enter Email or Username" required="required" id="logemail"/>
        <input type="password" placeholder="Enter Password" required="required" id="logpass"/>
        <button class="continuebtn" type="button" onclick="login()" disabled="true" id="login">></button>
      </div>
    </div>
  </body>
  <script src="signup.js"> </script>
</html>